#quote-box {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
}
#text {
  font-size: 1.4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 5px;
  
  color: #333;
}
#author {
  font-size: 1.0em;
  color: #333;
}
.buttons{
    margin: 0px;
    padding: 0px;
    display: block;
}

button {
  border-radius: 12px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

#share-quote {
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  float: right;
}

#share-quote a {
  margin-right: 10px;
}
